<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/progettoispw
		</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.default_schema">public</property>
		<mapping class="it.uniroma2.ispw.model.Consumatore"></mapping>
		<mapping class="it.uniroma2.ispw.model.Venditore"></mapping>
		<mapping class="it.uniroma2.ispw.model.Ente"></mapping>
		<mapping class="it.uniroma2.ispw.model.PrezzoSpedizione"></mapping>
		<mapping class="it.uniroma2.ispw.model.UtenteRegistrato"></mapping>
		<mapping class="it.uniroma2.ispw.model.Prodotto"></mapping>
		<mapping class="it.uniroma2.ispw.model.Amministratore"></mapping>
		<mapping class="it.uniroma2.ispw.model.RuoloAmministrazione"></mapping>
		<mapping class="it.uniroma2.ispw.model.AmministrazioneDiSistema"></mapping>
		<mapping class="it.uniroma2.ispw.model.AmministrazioneFinanziaria"></mapping> 
		<mapping class="it.uniroma2.ispw.model.TipoProdotto"></mapping>
		<mapping class="it.uniroma2.ispw.model.Ordine"></mapping>
		<mapping class="it.uniroma2.ispw.model.LineaOrdine"></mapping>
		<mapping class="it.uniroma2.ispw.model.Pagamento"></mapping>
		<mapping class="it.uniroma2.ispw.model.PagamentoCarta"></mapping>
		<mapping class="it.uniroma2.ispw.model.PagamentoBonifico"></mapping>
		<mapping class="it.uniroma2.ispw.model.Spedizione"></mapping>
		<mapping class="it.uniroma2.ispw.model.SpedizioneNormale"></mapping>
		<mapping class="it.uniroma2.ispw.model.SpedizioneRapida"/>
	</session-factory>
</hibernate-configuration>

